attrs==21.4.0
bandit==1.7.4
coverage==6.4.2
flake8==4.0.1
gitdb==4.0.9
GitPython==3.1.27
iniconfig==1.1.1
mccabe<0.8.0
packaging==21.3
pbr==5.9.0
pluggy==1.0.0
py==1.11.0
pycodestyle==2.9.1
pyflakes==2.4.0
pyparsing==3.0.9
pytest==7.1.2
pytest-cov==3.0.0
PyYAML==6.0
smmap==5.0.0
stevedore==4.0.0
tomli==2.0.1
